html{
    box-sizing:border-box;
    display:block;
    font-family:Verdana, sans-serif;
    font-size:15px;
    line-height:22.5px;
    overflow-x:hidden;
    text-size-adjust:100%;    
}

body{
    font-family:Verdana, sans-serif;
    font-size:15px;
    line-height:22.5px;
    max-width: 1280px;
}

hr {
    margin: 5px 0 5px 0;
    text-align: left;
}

.attn{
    color: red;
    font-weight: bold;
}

.img-me{
    max-height: 900px;
    max-width: 599px;
    width: 100%;
}

.margin-bottom-zero{
    margin-bottom: 0;
}

.margin-bottom-20px{
    margin-bottom: 20px;
}

.font-console{
    font-family: monospace;
}

.title{
    font-size: 20px;
}

.footer {
    display: flex;
    align-items: top;
    font-size: 18px;
    height: 100px;
}

#life{
    margin-right: 30px;
}

#life img{
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
    max-width: 610px;
}

#art img{
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
    max-width: 610px;
}
